# Core dependencies
napari                     
PyYAML                     

# Scientific computing
numpy                      
scipy                    

scikit-image               
opencv-python              
